.wrapper {
    width: 100%;
    position: relative;
    text-align: left;
}

.wrapperMenu {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}

.opener {
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid #222222;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: white;

    vertical-align: top;
    padding: 8px 12px;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    text-align: left;

    font-size: 12px;

}

.selectedTitle {
    padding-right: 12px;
}

.menu {
    margin-top: 8px;
    z-index: 1111;
    position: absolute;
    background: #fff;
    width: 100%;
    min-width: 300px;
    outline: none;
    box-sizing: border-box;
    border: 3px solid rgba(34, 34, 34, 0.64);
    border-radius: 20px;
}

.optionsList {
    max-height: 312px;
    overflow: auto;
    border-radius: 17px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.menuItem {
    padding: 16px;
    cursor: pointer;
}

.searchBar {
    position: relative;
}

.searchInput {
    border: 0;
    outline: none;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 17px;
}

.searchIcon {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    right: 13px;
    top: 9px;
    border-radius: 50%;
}

.clear {
    width: 120px;
    height: 32px;
    border-width: 1px;
    text-align: center;
    font-size: 13px;
}

.selected {
    color: #000;
    background: rgba(34, 34, 34, 0.08);
}
